configuration {
	modi: "drun";
	width: 900;
	lines: 15;
	columns: 1;
	font: "Iosevka Nerd Font 11";
	bw: 1;
	show-icons: true;
	terminal: "alacritty";
	drun-match-fields: "name,generic,exec,categories";
	levenshtein-sort: true;
	sidebar-mode: true;
	combi-modi: "drun";
	matching: "fuzzy";
	combi-hide-mode-prefix: true;
}

@theme "~/.config/rofi/hacknet.rasi"
